/composer.lock
/.phpunit.result.cache
/vendor/*

/lib/bootstrap/Resources/public/*
!/lib/bootstrap/Resources/public/css
/lib/common/Resources/public/*
!/lib/common/Resources/public/img
/src/Resources/public/*

/var/*
!/var/.gitkeep
