parameters:
    level: 6
    paths:
        - lib
        - src
        - tests
    excludePaths:
        - tests/Fixtures/app/var
    ignoreErrors:
        -
            message: '#Comparison operation "[<=>]+" between [0-9]+ and [0-9]+ is always "true||false"#'
            paths:
                - lib/common/Security/Core/User/UserHelper.php
                - lib/common/Service/SessionService.php
                - lib/common/Tests/Service/SessionServiceTest.php
                - lib/common/Tests/DefaultTestCase.php
                - tests/Fixtures/TestKernel.php
