parameters:
    level: 6
    paths:
        - src/common
        - tests/common
    excludePaths:
        - tests/fixtures/app/var
    ignoreErrors:
        -
            message: '#Comparison operation "[<=>]+" between [0-9]+ and [0-9]+ is always false#'
            paths:
                - Tests/Fixtures/app/TestKernel.php
