{# Resources/views/DataTables/index_content.html.twig #}
<div class="{{ bootstrapGrid({"lg": 12, "recopy": true}) }} table-responsive">
    {{ renderDataTables(dtWrapper, {"class": "table-bordered table-striped"}) }}
</div>
