{# Resources/views/DataTables/index.html.twig #}
{% extends "@JQueryDataTables/layout.html.twig" %}

{% block jQueryDataTablesContent %}
    <div class="row clearfix">
        <div class="{{ bootstrapGrid({"lg": 12, "recopy": true}) }}">
            <div class="row clearfix">
                {% include "@JQueryDataTables/DataTables/index_content.html.twig" %}
            </div>
        </div>
    </div>
{% endblock %}

{% block jQueryDataTablesJavascripts %}
    {{ parent() }}
    {{ jQueryDataTables(dtWrapper) }}
{% endblock %}
